{% load static %}
{% load octopusdash_tags %}
<aside class="sidebar">
    <!-- Sidebar Header -->
    <div class="flex items-center gap-3 h-16 justify-between p-4 border-b border-base-300">
        <div class="flex items-center gap-3">
            <div class="flex size-9 items-center justify-center rounded-lg">
                <img src="{% static 'od/logo/64.svg' %}" class="size-12" alt="">
            </div>
            <div class="flex flex-col">
                <span class="font-semibold text-sm">OctopusDash</span>
                <span class="text-xs text-base-content/60">Analytics Suite</span>
            </div>
        </div>
    </div>

    <!-- Sidebar Content -->
    <div class="flex flex-1 flex-col gap-6 overflow-x-visible mt-5 p-2">
        <!-- Apps -->
        <div class="flex flex-col gap-2">
            <div class="px-2 text-xs uppercase  text-base-content/50">
                Apps
            </div>

            {% if registry %}
            <ul class="flex flex-col gap-1">
                {% for app_label, app_data in registry.items %}
                <div>
                    <li data-submenu="#app-models-{{app_label}}"
                        class="sidebar-menu-item {% if request.path|is_active_route:app_label %}active{% endif %}">
                        <div class="flex w-full items-center justify-between">
                            <a href="#" class="capitalize">{{ app_label }}</a>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-4 opacity-70">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                            </svg>
                        </div>
                    </li>
                    <ul id="app-models-{{app_label}}"
                        class="submenu {% if not request.path|is_active_route:app_label %}hidden{% endif %} space-y-1 mt-1">
                        {% for model_name, model_data in app_data.models.items %}
                        <li
                            class="sidebar-menu-item flex items-center justify-between submenu-item {% if request.path == model_data.admin.list_url %}active{% endif %}">
                            {% if model_data.admin.icon %} {{ model_data.admin.icon|safe }} {% endif %}
                            <a href="{{ model_data.admin.list_url }}" class="capitalize">
                                {{ model_data.admin.opts.verbose_name }}
                            </a>
                            <a href="{{model_data.admin.create_url}}" class="tooltip"
                                data-tip="Add New {{model_data.admin.opts.verbose_name.title}}">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1"
                                    stroke="currentColor" class="size-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                </svg>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </ul>
            {% else %}
            <div class="p-3 text-sm text-base-content/60 bg-base-200 rounded-md mt-2">
                No apps registered. To get started, register your models or visit
                <a target="_blank" href="https://github.com/husseinnaeemsec/octopusdash"
                    class="text-primary underline">OctopusDash
                    GitHub repo</a>.
            </div>
            {% endif %}
        </div>

        <!-- Plugins -->
        <div class="flex flex-col gap-2">
            <div class="px-2 text-xs uppercase  text-base-content/50">
                Plugins
            </div>

            <ul class="flex flex-col gap-1">
                {% url 'octopusdash-plugins' as plugins_url %}
                <li class="sidebar-menu-item {% if request.path == plugins_url  %} active {% elif request.path|startswith:plugins_url %} active {% endif %}">
                    <a href="{{plugins_url}}" class="flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m21 7.5-9-5.25L3 7.5m18 0-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
                        </svg>
                        Plugins
                    </a>
                </li>
                {% for plugin in plugins %}
                <div>
                    <li class="sidebar-menu-item">
                        <div class="flex w-full items-center justify-between">
                            <div class="flex items-center gap-2">
                                {{ plugin.icon|safe }}
                                <a href="#">{{ plugin.name }}</a>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-4 opacity-70">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                            </svg>
                        </div>
                    </li>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Sidebar Footer -->
    <div class="p-3 flex items-center gap-3 border-t border-base-300">
        {% if request.user.is_authenticated %}
        <img src="{% static 'od/default-avatar.png' %}" alt="U"
            class="h-8 w-8 flex items-center justify-center rounded-full bg-base-200" />
        <div class="flex flex-col text-sm">
            <span class="font-medium">{{ request.user.get_full_name|default:request.user.username }}</span>
            <a href="{% url 'octopusdash-logout' %}"
                class="text-xs text-base-content/70 hover:text-primary transition-colors">
                Logout
            </a>
        </div>
        {% endif %}
    </div>
</aside>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".sidebar-menu-item").forEach(item => {
            item.addEventListener("click", (e) => {
                const submenuId = e.currentTarget.dataset.submenu
                if (submenuId) {
                    $(submenuId).slideToggle(300);
                }
            });
        });
    });
</script>