<!-- Drawer container -->
<div id="filters-drawer-container" class="drawer drawer-end mx-1">
  <!-- Hidden checkbox to control drawer -->
  <input id="filters-drawer" type="checkbox" class="drawer-toggle" />

  <!-- Page content -->
  <div class="drawer-content">
    <!-- Button to open drawer -->
    <label for="filters-drawer" class="btn">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor" class="w-5 h-5 inline-block mr-1">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z" />
      </svg>
      Filters
    </label>
  </div>

  <!-- Drawer side -->
  <div class="drawer-side">
    <!-- Click on overlay closes drawer -->
    <label for="filters-drawer" class="drawer-overlay"></label>

    <!-- Drawer content -->
    <div class="flex flex-col bg-base-200 w-96 h-full p-4">
      <h2 class="text-xl font-bold mb-4">Filters</h2>

      <form method="GET" class="flex flex-col flex-1 overflow-y-auto space-y-2">
        {% if admin.get_filter_fields %}
          {% for filter_name, filter in admin.get_filter_fields.items %}
            <div class="collapse collapse-arrow border border-base-300 rounded-md bg-base-100">
              <input type="checkbox" /> 
              <div class="collapse-title text-base font-medium">
                {{ filter_name }}
              </div>
              <div class="collapse-content">
                {% for lookup in filter.lookup %}
                  <div class="mb-2">
                    <label class="block text-sm mb-1">{{ lookup.label }}</label>
                    <input name="{{ lookup.lookup_name }}" type="{{ filter.input_type }}"
                      placeholder="{{ lookup.label }}"
                      class="input input-bordered input-sm w-full" />
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p class="text-center text-sm text-base-content/50 mt-4">
            No filter fields have been added yet. <br>
            Please configure <strong><code>list_view_filter_fields</code></strong> in your admin.
          </p>
        {% endif %}

        <!-- Drawer footer buttons -->
        <div class="mt-4 flex justify-between">
          <button type="reset" class="btn btn-outline btn-sm">Reset</button>
          <button type="submit" class="btn btn-primary btn-sm">Apply</button>
        </div>
      </form>
    </div>
  </div>
</div>
