{% extends 'od/base.html' %}
{% load static %}
{% load octopusdash_tags %}
{% if admin.get_list_editable %}
{% block extrahead %}
{{block.super}}
<script src="{% static 'od/js/inline_form.js' %}"></script>
{% endblock %}
{% endif %}
{% block title %} {{admin.opts.verbose_name_plural.title}} List | {{block.super}}{% endblock %}

{% block content %}
<main class="lg:p-10 p-5 space-y-10">
    <section class="flex items-center justify-between">
        <div>
            <h1 class="text-2xl font-bold capitalize"> {{admin.opts.verbose_name_plural}} List </h1>
            <p class=" text-sm"> Here you can find all your {{admin.opts.verbose_name_plural}}. </p>
        </div>
        <div>
            {% if request.GET.search %}
            <p class="text-error/70 flex text-sm items-center gap-2"> 
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
                </svg>
                Search functionality is not implemented yet.
             </p>
            {% endif %}
        </div>
        <div class="flex items-center gap-3 ">
            <a href="{{admin.create_url}}" class="btn btn-primary"> Add new {{admin.opts.verbose_name}} </a>
        </div>
    </section>
    {% include 'od/content/messages.html' %}
    {% include 'od/model/content/object_list.html' %}
</main>

<!-- <script>
    const searchInput = document.getElementById("searchInput");
    new SearchMenu(searchInput);
</script> -->


{% endblock content %}